fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

legend {
    margin: 0 auto;
}

h1,
span {
    text-align: center;
}

#chargeRadioButton {
    margin-left: 0;
}

footer {
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding: 1rem 0 1rem 0;
    text-align: center;
}